@use 'resumo';
@use 'roadmap';
@use 'grade';
@use 'fundamentos';
@use 'playlist';
@use 'anotacoes';
@use 'checklist';
@use 'comparacao';
@use 'curriculo';
@use 'datalab';
@use 'datasets';
@use 'ferramentas';
@use 'optativas';
@use 'projetos';
@use 'todo';
@use 'mldemo';

